<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>八方美人バレンタイン</title>
	<link rel="stylesheets" href="./css/style.css">
</head>
<body id="pagetop">
	<section class="mainvisual">
		<h1>
			<%= image_tag 'mv.jpg' %>
		</h1>
	</section>
	<section class="concept">
		<div class="cnt-inner">
			<h2>
				<%= image_tag 'h2_giveapresent' %>
			</h2>
			<p>
				2月14日。バレンタイン。<br>
				あげたくない人にもチョコをあげなきゃいけない！<br>
				そんな奥ゆかしい悩みをスマートに解決！<br>
				送りたくない相手へ普段の気持ちを<br>
				ドカン！とストレートにぶつけてみよう！<br>
				あなたの言葉を柔らく甘ーく変換した後に、<br>
				メッセージとマッチしたチョコが出来上がるよ！<br>
				それを憎いアイツにプレゼントだ！
			</p>
			<%= link_to  new_choco_path do %>
				<%= image_tag 'btn.png' %>
			<% end %>
		</div>
	</section>
	<section class="present">
		<div class="cnt-inner">
			<h2>
				<%= image_tag 'h2_siteconcept' %>
			</h2>
			<ul>
				<li>
					<h3>
						<%= image_tag 'h3_step01' %>
					</h3>
					<p>
						送りたくない相手へ<br>
						メッセージを描こう！
					</p>
					<%= image_tag 'step01_img.png',class: "step_img" %>
				</li>
				<li>
					<h3>
						<%= image_tag 'h3_step02.png' %>
					</h3>
					<p>
						メッセージはスウィートな<br>
						言葉に変換されるので安心！
					</p>
					<%= image_tag 'step02_img.png', class: "step_img" %>
					<p class="caution-txt">※変換される言葉によって出来上がりが変わります。<br>
※変換前の言葉が相手に伝わることはありません。</p>
				</li>
				<li>
					<h3>
						<%= image_tag 'h3_step03.png' %>
					</h3>
					<p>
						気軽にチョコをあげちゃおう！<br>
						ツイッターでシェアもできるよ！
					</p>
					<%= image_tag 'step03_img.png', class: "step_img" %>
				</li>
			</ul>
			<%= link_to  new_choco_path do %>
				<%= image_tag 'btn.png' %>
			<% end %>
		</div>
	</section>
	<footer>
		<small>
			© sample.
		</small>
		<%= link_to 'TOPへ',root_path %>
	</footer>
</body>
</html>
