
<%= @choco.name %>さんへ</br>

<%= @choco.text %></br>
↓
↓</br>
<%= @choco.content %>

</br>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-text="<%= @choco.content %>@<%= @choco.name %>さんへ " data-url="https://chocolates-bomb.herokuapp.com/choco/<%= @choco.id%>">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>八方美人バレンタイン</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body id="pagetop">
	<section class="present-page">
		<div class="cnt-inner">
			<a href="./index.html">
				<img src="./images/header_ttl.png" alt="">
			</a>
			<div class="present-page-img">
				<img src="./images/present-img.png" alt="">
			</div>
			<div class="present-page-box">
				<span class="present-page-ttl">
					@<%= @choco.name %>さんへ
				</span>
				<span class="present-page-txt">
					<%= @choco.content %>
				</span>
				<div class="twitter-btn-box">
					<a class="present-twiiter-btn" href="./message.html">
						<img src="./images/twitter_btn.png" alt="">
					</a>
				</div>
			</div>
			<div class="present-btn">
				<a href="./index.html">
					<img src="./images/home_return.png" alt="">
				</a>
			</div>
		</div>
		<div class="footer">
			<small>
				© sample.
			</small>
			<%= link_to 'TOPへ',root_path %>
			</a>
		</div>
	</section>
</body>
</html>
