<%= @choco.name %>さんへ</br>

<%= @choco.text %></br>
↓
↓</br>
<%= @choco.content %>

</br>
<%= link_to 'home',root_path %>
個別ページ



<!-- <a href="http://twitter.com/share?url=http://qiita.com/katsuma">Twitter</a>

<a href="https://twitter.com/share?url=ここにURL&text=ここに文字" rel="nofollow" target="_blank">画像やテキスト</a>
 -->
<!-- <a href="https://twitter.com/share?
  url=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDIkxHCOGoxomoSp41kzDUuDcKnPfravU1Pz2wAgZF1DaQo4ac">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDIkxHCOGoxomoSp41kzDUuDcKnPfravU1Pz2wAgZF1DaQo4ac">
</a>
 -->


<a href="https://twitter.com/share?ref_src=twsrc%5Etfw&text=<%= @choco.content %>" class="twitter-share-button" data-url="localho" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
投稿

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-url="http://localhost:3000/choco/<%= @choco.id%>">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
share
