<!DOCTYPE html>
<html>
  <head>
    <title>Choco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="twitter:card" content="summary_large_image" />
    <!-- <meta name="twitter:site" content="@dossy" /> -->
    <meta property="og:url" content="https://chocolates-bomb.herokuapp.com/" />
    <meta property="og:title" content="八方美人" />
    <meta property="og:image" content="https://chocolates-bomb.herokuapp.com/assets/2-c6a09466216b0805d848b6464a61b53802404d1cd84d8aac876c11ec9e0745a6.jpg" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
