<!DOCTYPE html>
<html>
  <head>
    <title>Choco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="https://chocolates-bomb.herokuapp.com/" />
    <meta property="og:title" content="八方美人" />
    <meta property="og:image" content=<img src="/1.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
