<!DOCTYPE html>
<html>
  <head>
    <title>Choco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="twitter:card" content="summary_laege_image" />
    <meta name="twitter:site" content="@dossy" />
    <meta property="og:url" content="https://chocolates-bomb.herokuapp.com/" />
    <meta property="og:title" content="choco" />
    <meta property="og:image" content="https://www.google.com/imgres?imgurl=http%3A%2F%2Fwww.nekojiro.net%2Fneko-seiza.jpg&imgrefurl=http%3A%2F%2Fwww.nekojiro.net%2Fstudy.html&docid=G9mIlXZav7VboM&tbnid=qjjETMkKKXePCM%3A&vet=10ahUKEwiUl4CzvJDgAhVEUt4KHSPQDRcQMwi8AigYMBg..i&w=223&h=290&bih=742&biw=1014&q=neko&ved=0ahUKEwiUl4CzvJDgAhVEUt4KHSPQDRcQMwi8AigYMBg&iact=mrc&uact=8" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
