<!DOCTYPE html>
<html>
  <head>
    <title>Choco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="twitter:card" content="summary_large_image" /> /*①*/
    <meta name="twitter:site" content="@dossy" /> /*②*/
    <meta property="og:url" content="記事のURL" /> /*③*/
    <meta property="og:title" content="記事のタイトル" /> /*④*/
    <meta property="og:description" content="記事の要約（ディスクリプション）" /> /*⑤*/
    <meta property="og:image" content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDIkxHCOGoxomoSp41kzDUuDcKnPfravU1Pz2wAgZF1DaQo4ac" /> /*⑥*/

  </head>

  <body>
    <%= yield %>
  </body>
</html>
